[worldserver]

#
#    QuestParty.Message
#        Description: Enable or Disable the Quest Loot Party Message.
#        Options: true or false
#        Default: true (enabled)
#

QuestParty.Message = true

#
#    QuestParty.Enable
#        Description: Enable or Disable the Quest Loot Party Module.
#        Options: true or false
#        Default: true (enabled)
#

QuestParty.Enable = true
