[worldserver]

#
#    QuestParty.Message
#        Description: Enable or Disable the Quest Loot Party Message.
#        Options: 0 or 1
#        Default: 1 (enabled)
#

QuestParty.Message = 1

#
#    QuestParty.Enable
#        Description: Enable or Disable the Quest Loot Party Module.
#        Options: 0 or 1
#        Default: 1 (enabled)
#

QuestParty.Enable = 1
